<!DOCTYPE html>
<html>
<head>
  <title>Automação</title>
  <%= stylesheet_link_tag    "ext/css/ext-all" %>
  <%= stylesheet_link_tag    "ext/css/icon" %>
  <%= javascript_include_tag "ext-all" %>
  <%= javascript_include_tag "clientes" %>
  <%= javascript_include_tag "fornecedores" %>
  <%= javascript_include_tag "produtos" %>
  <%= javascript_include_tag "tipos_produto" %>
  <%= javascript_include_tag "contas_pagar" %>
  <%= javascript_include_tag "contas_receber" %>
  <%= csrf_meta_tags %>

  <style type="text/css">
    body {
        background-color: #e1e6ea;
    }
    #logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 300px;
        margin-top: -150px; /* Half the height */
        margin-left: -200px; /* Half the width */
    }
    #sair {
        position: absolute;
        top: 5px;
        left: 97%;
    }
    #rodape {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 50px;
        background-color: #8FA8CE;
        text-align: center;
        padding: 5px;
        font: 13px Arial, "MS Trebuchet", sans-serif;
        color: #4E3E88;
    }
  </style>

  <script type="text/javascript">
      Ext.require([
          'Ext.grid.*',
          'Ext.data.*',
          'Ext.util.*',
          'Ext.state.*',
          'Ext.window.Window',
          'Ext.form.*'
      ]);

      Ext.onReady(function() {
          Ext.QuickTips.init();

          // setup the state provider, all state information will be saved to a cookie
          Ext.state.Manager.setProvider(Ext.create('Ext.state.CookieProvider'));

          Ext.create('Ext.toolbar.Toolbar', {
              renderTo: document.body,
              items: [{
                  xtype: 'splitbutton',
                  text: 'Cadastros',
                  menu: new Ext.menu.Menu({
                      items: [{
                          text: 'Clientes',
                          icon: '/assets/icons/fam/customers.png',
                          handler: function(){
                              abrirCadastroClientes();
                          }
                      },{
                          text: 'Tipos de Produto',
                          handler: function(){
                               abrirCadastroTiposProduto();
                          }
                      },{
                          text: 'Fornecedores',
                          icon: '/assets/icons/fam/fornecedores.png',
                          handler: function(){
                              abrirCadastroFornecedores();
                          }
                      },{
                          text: 'Produtos',
                          icon: '/assets/icons/fam/products.png',
                          handler: function(){
                              abrirCadastroProdutos();
                          }
                      }]
                  })
              },{
                  xtype: 'splitbutton',
                  text: 'Movimentos',
                  menu: new Ext.menu.Menu({
                      items: [{
                          text: 'Vendas',
                          icon: '/assets/icons/fam/sales.png',
                          handler: function(){
                            window.open('/vendas/index');
                          }
                      },{
                          text: 'Movimentar Estoque',
                          icon: '/assets/icons/fam/stock.png',
                          handler: function(){

                          }
                      },'-',{
                          text: 'Contas a Pagar',
                          handler: function(){
                            abrirCadastroContasPagar();
                          }
                      },{
                          text: 'Contas a Receber',
                          handler: function(){
                            abrirCadastroContasReceber();
                          }
                      }]
                  })
              },{
                  xtype: 'splitbutton',
                  text: 'Relatórios',
                  menu: new Ext.menu.Menu({
                      items: [{
                          text: 'Estoque',
                          handler: function(){

                          }
                      },{
                          text: 'Pedidos de Venda',
                          handler: function(){

                          }
                      }]
                  })
              }]
          });
      });
  </script>
</head>
<body>

<img src="/assets/logo.png" id="logo" />

<%= link_to 'Sair', destroy_user_session_path, :method => :delete, :id => 'sair' %>

<%= yield %>

<div id="rodape">
    <p>© 2012. Marcos Rodrigues</p>
    <p>Contato: (85)9939-6967</p>
</div>

</body>
</html>
