<!DOCTYPE html>
<html>
<head>
  <title>Automação - Vendas</title>
  <%= stylesheet_link_tag    "jquery-ui" %>
  <%= stylesheet_link_tag    "vendas" %>

  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "jquery.media" %>
  <%= javascript_include_tag "knockout" %>
  <%= javascript_include_tag "vendas" %>
  <%= javascript_include_tag "shortcut" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
